@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h2>SE1611 - Group 4 - Assignment 3</h2>
<div class="row">
    <div class="col-md-6">
        <table class="table">
            <tr>
                <td>
                    Nguyễn Văn Nghĩa
                </td>
                <td>
                    HE151124
                </td>
            </tr>
            <tr>
                <td>
                    Trần Nguyễn Đăng Khoa
                </td>
                <td>HE153511
                </td>
            </tr>
            <tr>
                <td>
                    Bùi Doãn Đức Anh
                </td>
                <td>
                    HE151102
                </td>
            </tr>
            <tr>
                <td>
                    Lê Bình An
                </td>
                <td>HE151135
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-6"></div>
</div>

